# **NOTEBOOK FOR `CLEANING` AND `AGGREGATING` THE `SYNTHEA` DATASET**
***

***I need to create some aggregated tables, in order to proceed in my analysis***

## **Creating Connections with the database**

In [9]:
%load_ext autoreload
%autoreload 2

import os
import sys
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
from pathlib import Path
import warnings

warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
def get_project_root(project_name="ranojoy_data_analytics_projects"):
    current_path = Path.cwd()
    if project_name in str(current_path):
        while current_path.name != project_name:
            current_path = current_path.parent
        return current_path
    else:
        for path in current_path.rglob(project_name):
            if path.is_dir():
                return path
        raise FileNotFoundError(f"Could not find project: {project_name}")

repo_root = get_project_root()
data_path = repo_root / "About Synthea - Why Patients Readmit More"

sys.path.append(str(data_path))

import src.functions as F

In [11]:
engine = F.get_engine()

In [12]:
engine

Engine(mysql+pymysql://root:***@localhost:3306/synthea_medical_dataset)

## **Cleaning process of the data and creating aggregated tables**

In [13]:
necessary_tables = ['encounters','careplans',
                    'conditions','medications',
                    'procedures','patients','providers']

In [14]:
F.select('encounters').head(1)

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23T17:45:28Z,2010-01-23T18:10:28Z,034e9e3b-2def-4559-bb2a-7850888ae060,e002090d-4e92-300e-b41e-7d1f21dee4c6,e6283e46-fd81-3611-9459-0edb1c3da357,6e2f1a2d-27bd-3701-8d08-dae202c58632,ambulatory,185345009,Encounter for symptom,129.16,129.16,54.16,10509002.0,Acute bronchitis (disorder)

In [15]:
F.find_nulls('encounters')

           column_names  null_values
0   BASE_ENCOUNTER_COST            0
1                  CODE            0
2           DESCRIPTION            0
3        ENCOUNTERCLASS            0
4                    Id            0
5          ORGANIZATION            0
6               PATIENT            0
7                 PAYER            0
8        PAYER_COVERAGE            0
9              PROVIDER            0
10           REASONCODE        39569
11    REASONDESCRIPTION        39569
12                START            0
13                 STOP            0
14     TOTAL_CLAIM_COST            0

In [16]:
# Reforming the date values
query = """
update encounters
set start = str_to_date(
    trim(replace(replace(replace(start, '"', ''), '\r', ''), '\n', '')),
    '%Y-%m-%dT%H:%i:%sZ'
);
"""
F.run(query)

query = """
ALTER TABLE encounters
MODIFY start datetime;
"""
F.run(query)

In [17]:
# Reforming the date values
query = """
update encounters
set stop = str_to_date(
    trim(replace(replace(replace(stop, '"', ''), '\r', ''), '\n', '')),
    '%Y-%m-%dT%H:%i:%sZ'
);
"""
F.run(query)

query = """
ALTER TABLE encounters
MODIFY stop datetime;
"""
F.run(query)

In [18]:
F.sql('select count(distinct code) as total_code, count(distinct description) as total_description from encounters')

   total_code  total_description
0          43                 49

In [19]:
F.sql('select count(distinct reasoncode) as total_code, count(distinct reasondescription) as total_description from encounters')

   total_code  total_description
0          80                 80

In [20]:
F.select('encounters').head(1)

,Id,start,stop,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e002090d-4e92-300e-b41e-7d1f21dee4c6,e6283e46-fd81-3611-9459-0edb1c3da357,6e2f1a2d-27bd-3701-8d08-dae202c58632,ambulatory,185345009,Encounter for symptom,129.16,129.16,54.16,10509002.0,Acute bronchitis (disorder)

In [21]:
query = '''
    alter table encounters
    add column duration float
'''
F.run(query)

In [22]:
query = '''
    update encounters
    set duration = timestampdiff(minute,start,stop)
'''
F.run(query)

In [23]:
F.select('encounters').head(1)

,Id,start,stop,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION,duration
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e002090d-4e92-300e-b41e-7d1f21dee4c6,e6283e46-fd81-3611-9459-0edb1c3da357,6e2f1a2d-27bd-3701-8d08-dae202c58632,ambulatory,185345009,Encounter for symptom,129.16,129.16,54.16,10509002.0,Acute bronchitis (disorder),25.0

In [24]:
encounters_agg = F.sql('''
    select id as encounter,
    start,stop,patient,provider,encounterclass,base_encounter_cost,payer_coverage,duration
                       from encounters
''')

***

In [25]:
F.select('careplans')

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,d2500b8c-e830-433a-8b9d-368d30741520,2010-01-23,2012-01-23,034e9e3b-2def-4559-bb2a-7850888ae060,d0c40d10-8d87-447e-836e-99d26ad52ea5,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
1,07d9ddd8-dfa1-4e43-9bfe-39f63f4ace15,2011-05-13,2011-08-02,10339b10-3cd1-4ac3-ac13-ec26728cb592,e1ab4933-07a1-49f0-b4bd-05500919061d,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
2,a3bb6e99-3b99-44b3-974c-e230b4511b5c,2011-12-31,2012-11-30,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,16300c56-a035-4126-a656-68c093da6dfc,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
3,9f5284b7-425a-486a-b36e-ab818c018f2f,2016-12-29,2017-01-05,034e9e3b-2def-4559-bb2a-7850888ae060,3b639086-5fbc-4720-8c31-e8c8c0f1d660,53950000,Respiratory therapy,10509002.0,Acute bronchitis (disorder)
4,47ede16c-c216-4f81-a16b-0e858de9cdc3,2017-01-22,2017-02-12,10339b10-3cd1-4ac3-ac13-ec26728cb592,4ec8d55b-05fc-42a5-bfa3-1e233874a362,225358003,Wound care,284551006.0,Laceration of foot

In [26]:
query = '''
    select encounter,
    min(start) as careplan_start,
    max(stop) as careplan_end,
    case when max(stop) is null then 1 else 0 end as is_ongoing_careplan,
    count(distinct code) as total_careplans
    from careplans
    group by encounter
'''
careplan_agg = F.sql(query)

***

In [27]:
F.select('conditions')

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2001-05-01,None,1d604da9-9a81-4ba9-80c2-de3375d59b40,8f104aa7-4ca9-4473-885a-bba2437df588,40055000,Chronic sinusitis (disorder)
1,2011-08-09,2011-08-16,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,9d35ec9f-352a-4629-92ef-38eae38437e7,444814009,Viral sinusitis (disorder)
2,2011-11-16,2011-11-26,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,ae7555a9-eaff-4c09-98a7-21bc6ed1b1fd,195662009,Acute viral pharyngitis (disorder)
3,2011-05-13,2011-05-27,10339b10-3cd1-4ac3-ac13-ec26728cb592,e1ab4933-07a1-49f0-b4bd-05500919061d,10509002,Acute bronchitis (disorder)
4,2011-02-06,2011-02-14,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,b8f76eba-7795-4dcd-a544-f27ac2ef3d46,195662009,Acute viral pharyngitis (disorder)

In [28]:
query = '''
    select encounter,
    min(start) as condition_start,
    max(stop) as condition_end,
    case when max(stop) is null then 1 else 0 end as is_ongoing_condition,
    count(distinct code) as total_conditions
    from conditions
    group by encounter
'''
condition_agg = F.sql(query)

***

In [29]:
F.select('medications')

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2010-05-05T00:26:23Z,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,1e0d6b0e-1711-4a25-99f9-b1c700c9b260,389221,Etonogestrel 68 MG Drug Implant,677.08,0.0,12,8124.96,NaN,None
1,2011-04-30T00:26:23Z,2012-04-24T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,389221,Etonogestrel 68 MG Drug Implant,624.09,0.0,12,7489.08,NaN,None
2,2012-04-24T00:26:23Z,2013-04-19T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,7253a9f9-6f6d-429a-926a-7b1d424eae3f,748856,Yaz 28 Day Pack,43.32,0.0,12,519.84,NaN,None
3,2011-05-13T12:58:08Z,2011-05-27T12:58:08Z,10339b10-3cd1-4ac3-ac13-ec26728cb592,d47b3510-2895-3b70-9897-342d681c769d,e1ab4933-07a1-49f0-b4bd-05500919061d,313782,Acetaminophen 325 MG Oral Tablet,8.14,0.0,1,8.14,10509002.0,Acute bronchitis (disorder)
4,2011-12-08T15:02:18Z,2011-12-22T15:02:18Z,1d604da9-9a81-4ba9-80c2-de3375d59b40,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,792fae81-a007-44b0-8221-46953737b089,562251,Amoxicillin 250 MG / Clavulanate 125 MG Oral T...,11.91,0.0,1,11.91,444814009.0,Viral sinusitis (disorder)

In [30]:
query = '''
    select encounter, 
    count(distinct code) as total_medicines,
    round(avg(base_cost),2) as avg_base_medicine_cost,
    round(avg(totalcost),2) as avg_total_medicine_cost,
    count(distinct reasoncode) as reasons_for_medications 
    from medications
    group by encounter;
'''
medicine_agg = F.sql(query)

***

In [31]:
F.select('procedures')

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2011-04-30T00:26:23Z,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,6aa37300-d1b4-48e7-a2f8-5e0f70f48f38,169553002,Insertion of subcutaneous contraceptive,14896.56,NaN,None
1,2010-07-27T12:58:08Z,10339b10-3cd1-4ac3-ac13-ec26728cb592,dae2b7cb-1316-4b78-954f-fa610a6c6d0e,430193006,Medication Reconciliation (procedure),726.51,NaN,None
2,2010-11-20T03:04:34Z,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,7ff86631-0378-4bfc-92ce-1edd697eb18e,430193006,Medication Reconciliation (procedure),788.50,NaN,None
3,2011-02-07T03:04:34Z,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,b8f76eba-7795-4dcd-a544-f27ac2ef3d46,117015009,Throat culture (procedure),2070.44,195662009.0,Acute viral pharyngitis (disorder)
4,2011-04-19T03:04:34Z,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,640837d9-845a-433c-9fad-47426664a69d,117015009,Throat culture (procedure),2479.39,195662009.0,Acute viral pharyngitis (disorder)

In [32]:
query = '''
    select encounter, 
    count(distinct code) as total_procedures,
    round(avg(base_cost),2) as avg_procedure_cost
    from procedures
    group by encounter
'''
procedure_agg = F.sql(query)

***

In [33]:
F.select('patients')

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,None,999-76-6866,S99984236,X19277260X,Mr.,Jos Eduardo181,Gmez206,None,...,Marigot Saint Andrew Parish DM,427 Balistreri Way Unit 19,Chicopee,Massachusetts,Hampden County,1013.0,42.228354,-72.562951,271227.08,1334.88
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,None,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,None,...,Danvers Massachusetts US,422 Farrell Path Unit 69,Somerville,Massachusetts,Middlesex County,2143.0,42.360697,-71.126531,793946.01,3204.49
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,None,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,None,...,Springfield Massachusetts US,1056 Harris Lane Suite 70,Chicopee,Massachusetts,Hampden County,1020.0,42.181642,-72.608842,574111.90,2606.40
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,None,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,None,...,Yarmouth Massachusetts US,999 Kuhn Forge,Lowell,Massachusetts,Middlesex County,1851.0,42.636143,-71.343255,935630.30,8756.19
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,None,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,None,...,Patras Achaea GR,1050 Lindgren Extension Apt 38,Boston,Massachusetts,Suffolk County,2135.0,42.352434,-71.028610,598763.07,3772.20

In [34]:
query = '''
    select
    id as patient_id,
    case when 
    deathdate is null then timestampdiff(year,birthdate,"2021-12-31") 
    else timestampdiff(year,birthdate,deathdate)
    end as age_as_2022,
    marital,
    race,
    ethnicity,
    gender as patient_gender
    from patients;
'''
patient_agg = F.sql(query)

***

In [35]:
F.select('providers')

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,LAT,LON,UTILIZATION
0,3421aa75-dec7-378d-a9e0-0bc764e4cb0d,ef58ea08-d883-3957-8300-150554edc8fb,Tomas436 Sauer652,M,GENERAL PRACTICE,60 HOSPITAL ROAD,LEOMINSTER,MA,01453,42.520838,-71.770876,1557
1,c9b3c857-2e24-320c-a79a-87b8a60de63c,69176529-fd1f-3b3f-abce-a0a3626769eb,Suzette512 Monahan736,F,GENERAL PRACTICE,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,2296
2,0359f968-d1a6-30eb-b1cc-e6cc0b4d3513,5e765f2b-e908-3888-9fc7-df2cb87beb58,Gaynell126 Streich926,F,GENERAL PRACTICE,211 PARK STREET,ATTLEBORO,MA,02703,41.931653,-71.294503,2287
3,446d1609-858f-3a54-8a52-0c4eacedd00e,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,Patricia625 Salgado989,F,GENERAL PRACTICE,ONE GENERAL STREET,LAWRENCE,MA,01842,42.700273,-71.161357,1327
4,e6283e46-fd81-3611-9459-0edb1c3da357,e002090d-4e92-300e-b41e-7d1f21dee4c6,Jeanmarie510 Beatty507,F,GENERAL PRACTICE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,02138,42.375967,-71.118275,3199

In [36]:
query = '''
    select id as provider_id,
    gender as provider_gender,
    utilization 
    from providers;
'''
provider_agg = F.sql(query)

In [37]:
encounters_agg.sample(1)

,encounter,start,stop,patient,provider,encounterclass,base_encounter_cost,payer_coverage,duration
24057,c6bd27de-abb3-4be6-9f09-a8f0b1f2e931,2018-05-05 00:53:22,2018-05-05 01:08:22,e8b73cd5-45fb-423d-b51c-db52adb5d6a5,c9b3c857-2e24-320c-a79a-87b8a60de63c,ambulatory,129.16,69.16,15.0

## **Viewing the aggregated tables**

In [38]:
agg_tables = [encounters_agg,patient_agg,careplan_agg,procedure_agg,condition_agg,medicine_agg,provider_agg]

In [39]:
for table in agg_tables:
    display(table.sample(3))

,encounter,start,stop,patient,provider,encounterclass,base_encounter_cost,payer_coverage,duration
21923,c4d29ef2-a84d-4d72-80b1-5eed69c588e7,2012-09-15 03:23:18,2012-09-15 04:08:18,9ab883b3-d1dd-4120-b19c-e78d3ea8c25c,aa89beb2-7bc6-35fa-83f7-4b32039e84eb,ambulatory,129.16,59.16,45.0
5713,9395e779-5d65-4153-a5ac-9188788c772f,2011-03-14 14:18:03,2011-03-14 14:33:03,bf4c0305-f14c-4035-be21-8781c675b7db,f361778c-8d38-3dd4-a9af-8876d74185e7,wellness,129.16,129.16,15.0
50628,738d9523-cefa-4c45-b581-97b3e06a3534,2011-03-06 05:39:17,2011-03-06 05:54:17,505609ce-7420-4cad-8c97-e1c42c4c79c7,1530e81b-106c-32d5-95d5-42a710c92068,outpatient,129.16,0.00,15.0

,patient_id,age_as_2022,marital,race,ethnicity,patient_gender
655,7b99cacb-b260-4c0a-a027-d1be359d9876,55,M,white,nonhispanic,F
442,f00be2a4-f2c6-4cca-bbd7-4e6ce7b0033a,24,None,asian,nonhispanic,M
317,191888f1-bdcf-4889-929f-79962b0417e0,41,M,white,nonhispanic,M

,encounter,careplan_start,careplan_end,is_ongoing_careplan,total_careplans
2205,a152496a-38b5-4919-be85-288d4aed991f,2018-04-04,2018-04-18,0,1
2146,9cf3c382-759d-4958-8dae-d3895fe025f5,2017-09-15,None,1,1
1619,7523fc2a-3574-4369-85de-c06a4b253b1b,1984-05-12,None,1,1

,encounter,total_procedures,avg_procedure_cost
14705,b25faf6e-b364-4bb6-8a9c-f121d37ffad6,1,532.07
6426,4da9b11f-d96b-4641-960c-744e2d339567,5,3776.98
12916,9ddb5fb1-1fe5-4fad-a5c4-619698314fa6,1,19026.09

,encounter,condition_start,condition_end,is_ongoing_condition,total_conditions
3038,6758a384-7030-45df-8216-50dc6704c08c,2012-12-25,2013-01-15,0,1
5077,a88e65db-1590-4449-8f27-9d8d5dad68d9,2014-06-21,2014-06-29,0,1
5752,bf2bcba1-c9b3-4a8e-b070-b6116e7eef81,1997-09-03,None,1,1

,encounter,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications
8863,53697649-a134-418a-a3b8-060270d3e21e,1,15.32,15.32,0
18342,abf4b4ff-b939-4faf-ad64-3b7953c5cc50,1,263.49,263.49,1
18217,aafdad76-f071-457a-b980-360454a62115,1,263.49,3161.88,1

                               provider_id provider_gender  utilization
5702  3e4078b2-296d-34dd-8a86-952f926fc9af               M            0
3341  c40ad558-3d29-3335-8be5-92bd5ff66c61               M            0
1596  bb0b7a60-7fd2-3f75-abd1-e09b426d2f90               F            0

In [40]:
encounters_agg.columns = encounters_agg.columns.str.lower()

In [41]:
encounters_agg.rename(columns={'patient':'patient_id','provider':'provider_id'},inplace=True)

## **Forming the aggregated dataset**

In [42]:
data = (encounters_agg.merge(procedure_agg,on='encounter',how='left')
    .merge(medicine_agg,on='encounter',how='left')
    .merge(condition_agg,on='encounter',how='left')
    .merge(careplan_agg,on='encounter',how='left')
    .merge(patient_agg,on='patient_id',how='left')
    .merge(provider_agg,on='provider_id',how='left'))

In [43]:
pd.set_option('display.max_columns',None)

In [44]:
data.head()

,encounter,start,stop,patient_id,provider_id,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization
0,d0c40d10-8d87-447e-836e-99d26ad52ea5,2010-01-23 17:45:28,2010-01-23 18:10:28,034e9e3b-2def-4559-bb2a-7850888ae060,e6283e46-fd81-3611-9459-0edb1c3da357,ambulatory,129.16,54.16,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-01-23,2012-01-23,0.0,1.0,38,M,white,nonhispanic,M,F,3199
1,e88bc3a9-007c-405e-aabc-792a38f4aa2b,2012-01-23 17:45:28,2012-01-23 18:00:28,034e9e3b-2def-4559-bb2a-7850888ae060,6f1d59a7-a5bd-3cf9-9671-5bad2f351c28,wellness,129.16,129.16,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,M,white,nonhispanic,M,F,33
2,8f104aa7-4ca9-4473-885a-bba2437df588,2001-05-01 15:02:18,2001-05-01 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,af01a385-31d3-3c77-8fdb-2867fe88df2f,ambulatory,129.16,0.00,15.0,NaN,NaN,NaN,NaN,NaN,NaN,2001-05-01,None,1.0,1.0,NaN,NaN,NaN,NaN,32,M,white,hispanic,M,M,2585
3,b85c339a-6076-43ed-b9d0-9cf013dec49d,2011-07-28 15:02:18,2011-07-28 15:17:18,1d604da9-9a81-4ba9-80c2-de3375d59b40,bb17e691-262b-3546-93d5-d88e7de93246,wellness,129.16,0.00,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,M,white,hispanic,M,F,58
4,dae2b7cb-1316-4b78-954f-fa610a6c6d0e,2010-07-27 12:58:08,2010-07-27 13:28:08,10339b10-3cd1-4ac3-ac13-ec26728cb592,7ed6b84a-b847-3744-9d42-15c42297a0c2,wellness,129.16,129.16,30.0,1.0,726.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,M,white,nonhispanic,M,M,59

## **Cleaning the aggregated data**

In [45]:
# 1. PREPARE DATA (NO COPY)
data['start'] = pd.to_datetime(data['start'])
data = data.sort_values(['patient_id', 'start'])

# 2. SELF-MERGE USING data
dup = data.merge(
    data,
    on='patient_id',
    how='inner',
    suffixes=('_first', '_second')
)

# 3. FILTER A  B WITHIN 30 DAYS
dup = dup[
    (dup['start_second'] > dup['start_first']) &
    (dup['start_second'] <= dup['start_first'] + pd.Timedelta(days=30))
]

# 4. ADD COLUMN DIRECTLY TO data
data['caused_readmission'] = 0
data.loc[data['encounter'].isin(dup['encounter_first']), 'caused_readmission'] = 1

In [46]:
data.sample(1)

,encounter,start,stop,patient_id,provider_id,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
14122,7ddc37d6-c422-4fc7-a0aa-af895e416193,1984-04-06 09:55:43,1984-04-06 10:10:43,3f336702-bf73-4fc8-bd59-3ba77fd65d0d,8f9aea5b-fd01-37c0-8931-18b6d64bdae6,outpatient,129.16,54.16,15.0,NaN,NaN,2.0,198.9,994.47,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,S,white,nonhispanic,M,F,4828,0

In [47]:
data.drop(columns=['encounter','patient_id','provider_id'],inplace=True)

In [48]:
data.rename(columns={'start':'encounter_start','end':'encounter_finish'},inplace=True)

In [49]:
data.sample(1)

,encounter_start,stop,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
30628,2001-06-15 23:35:03,2001-06-16 01:50:03,ambulatory,129.16,89.16,135.0,1.0,516.65,1.0,263.49,263.49,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95,S,black,nonhispanic,M,F,4828,1

In [50]:
bins = [-1, 1440, 10080, 43200, float('inf')]
labels = ['same_day', '1_week', '1_month', '1_month_plus']

data['duration'] = pd.cut(
    data['duration'], 
    bins=bins, 
    labels=labels, 
    right=True
)

In [51]:
data.sample(1)

,encounter_start,stop,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
14199,1996-12-06 09:55:43,1996-12-06 10:40:43,wellness,129.16,89.16,same_day,NaN,NaN,5.0,160.33,160.33,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,S,white,nonhispanic,M,F,4828,0

In [52]:
data.isnull().sum()[data.isnull().sum()>0].reset_index(name = 'null_counts')

                      index  null_counts
0          total_procedures        32274
1        avg_procedure_cost        32274
2           total_medicines        26077
3    avg_base_medicine_cost        26077
4   avg_total_medicine_cost        26077
5   reasons_for_medications        26077
6           condition_start        45696
7             condition_end        48884
8      is_ongoing_condition        45696
9          total_conditions        45696
10           careplan_start        49874
11             careplan_end        51395
12      is_ongoing_careplan        49874
13          total_careplans        49874
14                  marital         9718

In [53]:
data.columns

Index(['encounter_start', 'stop', 'encounterclass', 'base_encounter_cost',
       'payer_coverage', 'duration', 'total_procedures', 'avg_procedure_cost',
       'total_medicines', 'avg_base_medicine_cost', 'avg_total_medicine_cost',
       'reasons_for_medications', 'condition_start', 'condition_end',
       'is_ongoing_condition', 'total_conditions', 'careplan_start',
       'careplan_end', 'is_ongoing_careplan', 'total_careplans', 'age_as_2022',
       'marital', 'race', 'ethnicity', 'patient_gender', 'provider_gender',
       'utilization', 'caused_readmission'],
      dtype='object')

In [54]:
data[['total_procedures', 'avg_procedure_cost', 'total_medicines',
       'avg_base_medicine_cost', 'avg_total_medicine_cost',
       'reasons_for_medications', 'total_conditions', 'total_careplans']] = data[['total_procedures', 'avg_procedure_cost', 'total_medicines',
       'avg_base_medicine_cost', 'avg_total_medicine_cost',
       'reasons_for_medications', 'total_conditions', 'total_careplans']].fillna(0)

In [55]:
data[['marital']] =data[['marital']].fillna('unknown')

In [56]:
data[['is_ongoing_condition', 'is_ongoing_careplan']] = data[['is_ongoing_condition', 'is_ongoing_careplan']].fillna(-1)

In [57]:
data.isnull().sum()[data.isnull().sum()>0].reset_index(name = 'null_counts')

             index  null_counts
0  condition_start        45696
1    condition_end        48884
2   careplan_start        49874
3     careplan_end        51395

In [58]:
data['marital']=np.where(data['marital'] =='M','MARRIED',np.where(data['marital']=='S','SINGLE','UNKNOWN'))

In [59]:
data['encounterclass']=data['encounterclass'].apply(lambda x: x.upper())

In [60]:
data.head()

,encounter_start,stop,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
34106,2010-11-09 15:06:37,2010-11-09 15:36:37,WELLNESS,129.16,129.16,same_day,1.0,648.01,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,25,0
34107,2011-11-15 15:06:37,2011-11-15 15:21:37,WELLNESS,129.16,129.16,same_day,0.0,0.00,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,25,0
34108,2012-08-03 15:06:37,2012-08-03 15:36:37,AMBULATORY,129.16,54.16,same_day,1.0,2230.40,0.0,0.00,0.00,0.0,2012-08-03,2012-08-11,0.0,1.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,1616,0
34109,2012-10-14 15:06:37,2012-10-14 15:21:37,AMBULATORY,129.16,54.16,same_day,0.0,0.00,1.0,20.48,20.48,1.0,2012-10-14,2012-10-25,0.0,1.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,1616,0
34110,2012-11-20 15:06:37,2012-11-20 15:36:37,WELLNESS,129.16,129.16,same_day,1.0,590.58,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,white,nonhispanic,M,M,25,0

In [61]:
data['race']=data['race'].apply(lambda x: x.upper())

In [62]:
data['ethnicity']=data['ethnicity'].apply(lambda x: x.upper())

In [63]:
data.drop(columns=['stop'],inplace=True)

In [64]:
data.head()

,encounter_start,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,condition_start,condition_end,is_ongoing_condition,total_conditions,careplan_start,careplan_end,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission
34106,2010-11-09 15:06:37,WELLNESS,129.16,129.16,same_day,1.0,648.01,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0
34107,2011-11-15 15:06:37,WELLNESS,129.16,129.16,same_day,0.0,0.00,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0
34108,2012-08-03 15:06:37,AMBULATORY,129.16,54.16,same_day,1.0,2230.40,0.0,0.00,0.00,0.0,2012-08-03,2012-08-11,0.0,1.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,1616,0
34109,2012-10-14 15:06:37,AMBULATORY,129.16,54.16,same_day,0.0,0.00,1.0,20.48,20.48,1.0,2012-10-14,2012-10-25,0.0,1.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,1616,0
34110,2012-11-20 15:06:37,WELLNESS,129.16,129.16,same_day,1.0,590.58,0.0,0.00,0.00,0.0,NaN,NaN,-1.0,0.0,NaN,NaN,-1.0,0.0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0

In [65]:
data['condition_duration']=pd.to_datetime(data['condition_end']) - pd.to_datetime(data['condition_start'])

In [66]:
data['careplan_duration']=pd.to_datetime(data['careplan_end']) - pd.to_datetime(data['careplan_start'])

In [67]:
data.drop(columns=['condition_start','condition_end','careplan_start','careplan_end'],inplace=True)

In [68]:
data.sample(5)

,encounter_start,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,is_ongoing_condition,total_conditions,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission,condition_duration,careplan_duration
28220,1975-05-14 08:43:46,OUTPATIENT,129.16,0.00,same_day,0.0,0.00,1.0,263.49,1844.43,1.0,-1.0,0.0,-1.0,0.0,64,MARRIED,BLACK,NONHISPANIC,M,F,664,0,NaT,NaT
18816,2016-12-11 07:51:42,WELLNESS,129.16,129.16,same_day,0.0,0.00,0.0,0.00,0.00,0.0,-1.0,0.0,-1.0,0.0,27,UNKNOWN,WHITE,NONHISPANIC,F,M,34,0,NaT,NaT
41240,1973-06-26 12:12:10,WELLNESS,129.16,49.16,same_day,0.0,0.00,1.0,263.49,3161.88,1.0,-1.0,0.0,-1.0,0.0,73,MARRIED,WHITE,NONHISPANIC,F,M,80,0,NaT,NaT
9891,1984-07-17 11:08:08,WELLNESS,129.16,64.16,same_day,1.0,604.81,0.0,0.00,0.00,0.0,-1.0,0.0,-1.0,0.0,61,SINGLE,WHITE,NONHISPANIC,F,F,51,0,NaT,NaT
31374,2005-04-07 23:35:03,AMBULATORY,129.16,89.16,same_day,1.0,516.65,1.0,263.49,263.49,1.0,-1.0,0.0,-1.0,0.0,95,SINGLE,BLACK,NONHISPANIC,M,F,4828,1,NaT,NaT

In [69]:
data[['total_procedures','total_medicines','reasons_for_medications','is_ongoing_condition','total_conditions','is_ongoing_careplan','total_careplans']] =data[['total_procedures','total_medicines','reasons_for_medications','is_ongoing_condition','total_conditions','is_ongoing_careplan','total_careplans']].astype('Int64')

In [70]:
data.head()

,encounter_start,encounterclass,base_encounter_cost,payer_coverage,duration,total_procedures,avg_procedure_cost,total_medicines,avg_base_medicine_cost,avg_total_medicine_cost,reasons_for_medications,is_ongoing_condition,total_conditions,is_ongoing_careplan,total_careplans,age_as_2022,marital,race,ethnicity,patient_gender,provider_gender,utilization,caused_readmission,condition_duration,careplan_duration
34106,2010-11-09 15:06:37,WELLNESS,129.16,129.16,same_day,1,648.01,0,0.00,0.00,0,-1,0,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0,NaT,NaT
34107,2011-11-15 15:06:37,WELLNESS,129.16,129.16,same_day,0,0.00,0,0.00,0.00,0,-1,0,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0,NaT,NaT
34108,2012-08-03 15:06:37,AMBULATORY,129.16,54.16,same_day,1,2230.40,0,0.00,0.00,0,0,1,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,1616,0,8 days,NaT
34109,2012-10-14 15:06:37,AMBULATORY,129.16,54.16,same_day,0,0.00,1,20.48,20.48,1,0,1,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,1616,0,11 days,NaT
34110,2012-11-20 15:06:37,WELLNESS,129.16,129.16,same_day,1,590.58,0,0.00,0.00,0,-1,0,-1,0,18,UNKNOWN,WHITE,NONHISPANIC,M,M,25,0,NaT,NaT

## **Exporting the data**

In [72]:
file_path = data_path / "data" / "processed_data" / "processed_synthea_data.csv"

In [73]:
data.to_csv(file_path,index=False)